.App {
  text-align: center;
}

.App-header {
  background-color: #2D445A;
  padding: 5px 15px;
  color: white;
  text-align: left;
  display: flex;
  /*height: 50px;*/
  justify-content: flex-start;
}

.App-title {
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  font-size: 25px;
  /*color: #c4c8cb;*/
}

.App-tabs {
  color: white;
}

/*.App-logo {
  height: 100%;
}*/
